@charset "UTF-8";

.list-style-position-outside {
    list-style-type:square;
    list-style-position: outside;
}
.list-style-position-inside {
    list-style-type: square;
    list-style-position: inside;
}
.list-style-image {
    list-style-image: url("../images/bullet.png");
}
table tr td {
    border: gray solid 1px;
}
.collapse {
    border-collapse: collapse;
}